/Lab1/.vs
*.cache
/Lab1/BusinessObjects/bin
/Lab1/BusinessObjects/obj
*.cache
/Lab1/DataAccessLayer/bin
/Lab1/DataAccessLayer/obj
/Lab1/Repositories/bin
/Lab1/Repositories/obj
/Lab1/Services/bin
/Lab1/Services/obj
/Lab1/WPFApp/bin
/Lab1/WPFApp/obj
