/Lab1/.vs
*.cache
/Lab1/BusinessObjects/bin
/Lab1/BusinessObjects/obj
/Lab1/DataAccessLayer/bin
/Lab1/DataAccessLayer/obj
/Lab1/Repositories/bin
/Lab1/Repositories/obj
/Lab1/Services/bin
/Lab1/Services/obj
/Lab1/WPFApp/bin
/Lab1/WPFApp/obj
/Lab2/.vs
/Lab2/BusinessObjects/bin
/Lab2/BusinessObjects/obj
/Lab2/DataAccessLayer/bin
/Lab2/DataAccessLayer/obj
/Lab2/Repositories/bin
/Lab2/Repositories/obj
/Lab2/Services/bin
/Lab2/Services/obj
/Lab2/WPFApp/bin
/Lab2/WPFApp/obj
